/* ReservationForm.css */

form {
    max-width: 500px;
    margin: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input,
  select,
  button {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #cf98dd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select {
    height: auto; /* Fix for iOS Safari */
  
  
  }
  
  button {
    background-color: #fcbbfa;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #233b25;
  }
  
  .error {
    color: #f16565;
    margin-top: 4px;
  }
  
